<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <label><a routerLink="/Home" class="btn btn-outline-primary" for="btnradio1">Home</a></label>
        <label class= "btn btn-outline-primary" for="btnradio2">Live Reporte</label>
        <label><a routerLink="/About" class="btn btn-outline-primary" for="btnradio3">About</a></label>
      </div>
   
   </div> 
</nav>
<router-outlet></router-outlet>
</div>

